.container {
  height: 100%;
  display: flex;
  background: #fff;
}
.aside {
  width: 500px;
  background: #fe0000;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #fe0000;
  font-size: 20px;
}
.main .header {
  height: 60px;
  line-height: 60px;
  text-align: right;
}
.main .header span {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0px 10px;
  border: 1px solid #fe0000;
  border-radius: 17px;
  margin-right: 20px;
}
.main .iconfont {
  font-size: 20px;
}
.main .content {
  flex: 1;
}
