.container {
  width: 100%;
  height: 100%;
}
.container .aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 100%;
  background: skyblue;
}
.container .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container .content .icon-shuangxiajiantou- {
  position: absolute;
  right: 20px;
  font-size: 20px;
}
.container .content .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #f5f5f5;
  color: #666363;
}
.container .content .album {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.container .content .album .img-item {
  position: relative;
  padding: 10px;
  flex: 16%;
}
.container .content .album .icon-icon-test {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  color: #fff;
}
.container .content .album .icon-tick {
  position: absolute;
  z-index: 10;
  right: 11px;
  top: 11px;
  font-size: 27px;
  color: #fe0000;
}
.container .content .album img {
  max-width: 100%;
}
.container .content .van-pagination {
  padding: 0 30%;
  margin-bottom: 20px;
}
